################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/askon-data-clustering/src/out/build/x64-Debug
/askon-matching/src/out/build/x64-Debug
/askon-matching-test/out/build/x64-Debug
/askon-util/src/out/build/x64-Debug
/libyamlc/src/out/build/x64-Debug
/askon-data-clustering/CMakeFiles
/askon-data-clustering/ZERO_CHECK.vcxproj.filters
/askon-data-clustering/ZERO_CHECK.vcxproj
/askon-data-clustering/cmake_install.cmake
/askon-data-clustering/CMakeCache.txt
/askon-data-clustering/askon-data-clustering.vcxproj.filters
/askon-data-clustering/askon-data-clustering.vcxproj
/askon-data-clustering/askon-data-clustering.sln
/askon-data-clustering/ALL_BUILD.vcxproj.filters
/askon-data-clustering/ALL_BUILD.vcxproj
/askon-matching/CMakeFiles
/askon-matching/ZERO_CHECK.vcxproj.filters
/askon-matching/ZERO_CHECK.vcxproj
/askon-matching/cmake_install.cmake
/askon-matching/CMakeCache.txt
/askon-matching/askon-matching.vcxproj.filters
/askon-matching/askon-matching.vcxproj
/askon-matching/askon-matching.sln
/askon-matching/ALL_BUILD.vcxproj.filters
/askon-matching/ALL_BUILD.vcxproj
/askon-matching-test/CMakeFiles
/askon-matching-test/ZERO_CHECK.vcxproj.filters
/askon-matching-test/ZERO_CHECK.vcxproj
/askon-matching-test/matching-test.vcxproj.filters
/askon-matching-test/matching-test.vcxproj
/askon-matching-test/cmake_install.cmake
/askon-matching-test/CMakeCache.txt
/askon-matching-test/askon-matching-test.sln
/askon-matching-test/ALL_BUILD.vcxproj.filters
/askon-matching-test/ALL_BUILD.vcxproj
/askon-util/CMakeFiles
/askon-util/ZERO_CHECK.vcxproj.filters
/askon-util/ZERO_CHECK.vcxproj
/askon-util/cmake_install.cmake
/askon-util/CMakeCache.txt
/askon-util/askon-util.vcxproj.filters
/askon-util/askon-util.vcxproj
/askon-util/askon-util.sln
/askon-util/ALL_BUILD.vcxproj.filters
/askon-util/ALL_BUILD.vcxproj
/libyamlc/CMakeFiles
/libyamlc/ZERO_CHECK.vcxproj.filters
/libyamlc/ZERO_CHECK.vcxproj
/libyamlc/libyamlc.vcxproj.filters
/libyamlc/libyamlc.vcxproj
/libyamlc/libyamlc.sln
/libyamlc/cmake_install.cmake
/libyamlc/CMakeCache.txt
/libyamlc/ALL_BUILD.vcxproj.filters
/libyamlc/ALL_BUILD.vcxproj
